<h1>{{main_title}}</h1>

<!--Student-->
<h2>{{title1}}</h2>

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone number</td>
        <td>Major</td>
    </tr>
    {{#each Student}}
    <tr>
        <td>{{Sid}}</td>
        <td>{{Sname}}</td>
        <td>{{SEmail}}</td>
        <td>{{SPhoneNumber}}</td>
        <td>{{Major}}</td>
    </tr>
    {{/each}}
</table>